
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 20px 2px rgb(46, 45, 45);
}

.header {
   display: flex;
   padding: 25px 0px;
   justify-content: center;
}

.header h3{
    color: darkgreen; 
}
.btnContainer{
    display: flex;
    justify-content: flex-end;
}
.btnContainer button:first-child{
    margin: 5px;
}
.btnSubmit {
  background-color: rgb(3, 144, 3);
  margin: 5px;
}
.btnSubmit:hover{
    background-color: grey;
}
.addIngredientBtn {
    float: right;
}

.form {
   width: 90vw;
   background-color: white;
   padding: 0px 10px;
   overflow-y: scroll;
   height: 80vh;
}
.ingredientsContainer{
    display: flex;
    margin-top: 20px;
}
@media only screen and (max-width: 650px) {
    .ingredientsContainer{
        display: block;
        margin-top: 20px;
    }
    .deleteIcon{
      display: none;
    }
    
}
