.title{
    color: darkgreen;
}
.subTitle {
    color: tomato;
}
.bookIcon {
    margin-right: 15px;
}
.bookIcon:hover{
    color: rgb(46, 150, 46);
    cursor: pointer;
}
.body {
    font-weight: 500;
    color: grey;
}
.list{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}