.li {
    list-style-type: none;
    padding: 10px 5px;
    color: darkgreen;
    font-weight: bold;
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.itemAmount {
    float: right;
}

.listContainer {
    align-self: center;

}

.editableTextInput{
    font-weight: 500;
    font-size: 16px;
    
}

.editableTextInput:hover{
    cursor: pointer;
    text-decoration: underline;
}

.categoryText{
    font-size: 20px;
}