.li {
    list-style-type: none;
    padding: 10px 5px;
    color: darkgreen;
    font-weight: bold;
    border: 2px solid black;
    margin-top: 5px;
}
.itemAmount{
    float: right;
}
.listContainer{
   align-self: center;

}

