* {
  box-sizing: border-box;
  margin: 0 auto; 
  padding: 0;
}

.heading1{
  color: blue;
  font-family: fantasy;
}
.heading2{
  color: purple;
  font-family: fantasy;
}
.heading3{
  color: red;
  font-family: fantasy;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/grocery-background-image.jpg');
  background-position: center;
  background-size: cover;
}
.page {
border: 1px solid rgba(0, 0, 0, .25);
background-color: lemonchiffon;
width: 80vw;
height: 90vh;
padding: 10px 30px;
margin: 0px 25vw;
margin-bottom: 10px;
display: flex;
flex-direction: column; 
overflow-y: scroll;
}

.final-list {
  border: 1px solid rgba(0, 0, 0, .25);
  background-color: lemonchiffon;
  margin: 0px 25vw; 
  padding: 20px 30px;

}
.background{
  background-image: url('./assets/grocery-background-image.jpg');
  background-position: center;
  background-size: cover;

}
@media only screen and (max-width: 1200px) {
  .final-list, .page{
    margin: 30px 20vw;
    margin-bottom: 0px;
  }
  .page {
    width: 90vw;
    margin: 10px 20vw;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 840px) {
  .final-list{
    margin: 30px 5px;
    margin-bottom: 0px;
  }
  .page {
    width: 95vw;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px 10px;
  }
}
